<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div style="background-image: url(images/netflix\ back.jpg);" class="sm:h-[700px] h-[60vh] bg-no-repeat bg-cover sm:p-4 p-2">
        <nav class="flex justify-between">
            <div>
                <img src="images/netflix.png" alt="logo" class="sm:w-40 sm:h-20 w-20 h-10">
            </div>
            <div>
                <button class="bg-red-700 hover:bg-red-9 px-4 py-2 text-white rounded">Sign In</button>
            </div>
            
        </nav>
        
        <div class="sm:mt-28 mt-20">
            <div class="text-center">
                <h1 class="text-white sm:text-6xl text-2xl font-bold pb-3 leading-5">Unlimited movies, TV <br> shows, and more.</h1>
                <h3 class="text-white sm:text-2xl text-lg pb-3">Watch anywhere. Cancel anytime.</h3>
                <p class="text-white text-lg leading-4 p-2">Ready to watch? Enter your email to create or restart your membership.</p>
            </div>
    
            <div class="sm:flex justify-center mt-6">
                <input placeholder="Email address" type="text" class="sm:py-5 py-3 px-2 sm:w-3/6 w-full">
                <button class="bg-red-600 hover:bg-red-700 mr-1 text-white sm:text-xl mt-4 sm:mt-0 text-sm sm:py-4 py-2 cursor-pointer px-5 flex ml-24 sm:ml-0">Get Started <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg> </button>
                
            </div>
        </div>
    </div>
    <hr class="bg-gray-700 h-2">
    <div>
       <div class="bg-black sm:flex justify-between items-center p-4">
            <div>
                <div>
                    <h1 class="text-white font-bold sm:text-6xl text-3xl text-center">Enjoy on your TV.</h1>
                    <p class="text-white font-medium sm:text-2xl text-sm text-center">Watch on Smart TVs, Playstation, Xbox, <br> Chromecast, Apple TV, Blu-ray players, and <br> more.</p>
                </div>
            </div>
            <div>
                <img src="images/television.png" alt="">
            </div>
       </div>
       <hr class="bg-gray-700 h-2">
       <div class="bg-black sm:flex justify-center items-center p-6 pb-10">
           <div>
               <img src="images/stranger.jpg" class="-z-10" alt="">
               <div class="text-white border border-white rounded sm:p-3 p-1 sm:w-[500px] w-[250px] absolute mb-5 -mt-20 ml-12 z-50 flex justify-between items-center">
                   <img src="images/strange small.png" class="w-14 h-20" alt="">
                    <div class="text-center">
                        <h4>Stranger things</h4>
                        <p>Downloading</p>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                      </svg>
               </div>
            </div>
            <div>
                <div>
                    <h1 class="text-white font-bold sm:mt-0 mt-6 sm:text-6xl text-2xl text-center">Download your shows <br> to watch offline.</h1>
                    <p class="text-white font-medium sm:text-2xl text-sm text-center">Save your favorites easily and always have <br> something to watch.</p>
                </div>
            </div>
       </div>
       <hr class="bg-gray-700 h-2">
       <div>
        <div class="bg-black sm:flex justify-between items-center p-4">
             <div>
                 <div>
                     <h1 class="text-white font-bold sm:text-6xl text-2xl text-center">Watch everywhere.</h1>
                     <p class="text-white font-medium sm:text-2xl text-sm text-center">Stream unlimited movies and TV shows on <br> your phone, tablet, laptop, and TV.</p>
                 </div>
             </div>
             <div>
                 <img src="images/netflix.png" alt="">
             </div>
        </div>
       <hr class="bg-gray-700 h-2">
       <div>
        <div class="bg-black sm:flex justify-between items-center p-4">
            <div>
                <img src="images/kids.png" alt="">
            </div>
            <div>
                <div>
                    <h1 class="text-white font-bold sm:text-6xl text-2xl text-center">Create profiles for <br> kids.</h1>
                    <p class="text-white font-medium sm:text-2xl text-sm text-center">Send kids on adventures with their favorite <br> characters in a space made just for them—free <br> with your membership.</p>
                </div>
            </div>
        </div>
        <hr class="bg-gray-700 h-2">
        <div class="bg-black">
            <h1 class="sm:text-6xl text-2xl p-8 text-center text-white">Frequently Asked Questions</h1>
            <div class="sm:ml-96 ml-0 mt-2">
                <div class="bg-gray-900 text-white flex justify-between sm:w-1/2 w-full p-5 cursor-pointer mb-4" id="btn">
                    <h3 class="sm:text-3xl text-lg">What is Netflix?</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                </div>
                <div>
                    <div class="bg-gray-900 text-white sm:w-1/2 w-full p-5 mt-2 hidden" id="menu" >
                    <h3 class="sm:text-2xl text-sm">Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
                    You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!</h3>
                        
                </div>
                </div>
                
                <div class="bg-gray-900 text-white flex justify-between sm:w-1/2 w-full p-5 cursor-pointer mb-4" id="btn">
                    <h3 class="sm:text-3xl text-lg">How much does Netflix cost</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                </div>
                <div>
                    <div class="bg-gray-900 text-white sm:w-1/2 w-full p-5 mt-2 hidden" id="menu" >
                    <h3 class="text-2xl">Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
                    You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!</h3>
                        
                </div>
                </div>
               
                <div class="bg-gray-900 text-white flex justify-between sm:w-1/2 w-full p-5 cursor-pointer mb-4" id="btn">
                    <h3 class="sm:text-3xl text-lg">Where can I watch Netflix?</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                </div>
                <div>
                    <div class="bg-gray-900 text-white sm:w-1/2 w-full p-5 mt-2 hidden" id="menu" >
                    <h3 class="text-2xl">Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
                    You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!</h3>
                        
                </div>
                </div>
                <div class="bg-gray-900 text-white flex justify-between sm:w-1/2 w-full p-5 cursor-pointer mb-4" id="btn">
                    <h3 class="sm:text-3xl text-lg">How do I cancel Netflix?</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                </div>
                <div>
                    <div class="bg-gray-900 text-white sm:w-1/2 w-full p-5 mt-2 hidden" id="menu" >
                    <h3 class="text-2xl">Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
                    You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!</h3>
                        
                </div>
                </div>
                <div class="bg-gray-900 text-white flex justify-between sm:w-1/2 w-full p-5 cursor-pointer mb-4" id="btn">
                    <h3 class="sm:text-3xl text-lg">What can i watch on Netflix?</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                </div>
                <div>
                    <div class="bg-gray-900 text-white sm:w-1/2 w-full p-5 mt-2 hidden" id="menu" >
                    <h3 class="text-2xl">Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
                    You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!</h3>
                        
                </div>
                </div>
                <div class="bg-gray-900 text-white flex justify-between sm:w-1/2 w-full p-5 cursor-pointer" id="btn">
                    <h3 class="sm:text-3xl text-lg">Is Netflix good for kids?</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                </div>
                <div>
                    <div class="bg-gray-900 text-white sm:w-1/2 w-full p-5 mt-2 hidden " id="menu" >
                    <h3 class="sm:text-2xl text-sm">Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
                    You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!</h3>
                        
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-black">
        <p class="text-white text-lg leading-4 p-2 text-center pt-8">Ready to watch? Enter your email to create or restart your membership.</p>

        <div class="sm:flex justify-center mt-6 pb-10">
            <input placeholder="Email address" type="text" class="sm:py-5 py-3 px-2 sm:w-3/6 w-full">
            <button class="bg-red-600 hover:bg-red-700 mr-1 text-white sm:text-xl mt-4 sm:mt-0 text-sm sm:py-4 py-2 cursor-pointer px-5 flex ml-24 sm:ml-0">Get Started <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg> </button>
        </div>
    </div>

    <hr class="bg-gray-700 h-2">

    <div class="bg-black text-gray-400">
        <h2 class="sm:pl-20 pl-4 pt-10">Questions? Contact us.</h2>
        <div class="sm:flex grid grid-cols-2 justify-between sm:px-24 px-4 py-10 text-sm">
            <div>
                <p>FAQ</p>
                <p>Investor relations</p>
                <p>Privacy</p>
                <p>Speed Test</p>
                <p>Netflix Nigeria</p>
            </div>
            <div>
                <p>Help Center</p>
                <p>Jobs</p>
                <p>Cookie Preferences</p>
                <p>Legal Notices</p>
            </div>
            <div>
                <p>Account</p>
                <p>Ways to Watch</p>
                <p>Corporate Information</p>
                <p>Only on Netflix</p>
            </div>
            <div>
                <p>Media Center</p>
                <p>Term of Use</p>
                <p>Contact Us</p>
                <p>Speed Test</p>
            </div>
        </div>
    </div>
</body>
<script src="script.js"></script>
</html>